@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arvo, Helvetica, sans-serif;
}

nav a{
    text-align: center;
    color: black ;
    text-decoration: none;
    font-family: Arvo, Helvetica, sans-serif;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

.button-box{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

main section{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

#background{
    height: 725px;
    background-color: white;
}

body{
    background-color: #CBF3F0;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

header{
    background-color: #CBF3F0;
}

nav a:hover{
    background-color: white;
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
}

.book, .join{
    background-color: #CBF3F0;
    color: black;
    text-decoration: none;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: white;
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
}

.msg{
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer{
background-color: white ;
color: black;
font-family: Arvo, Helvetica, sans-serif;
padding: 25px 50px;
margin-top: 200px;
}

.home-title{
    color: #FF9F1C;
    font-family: Caveat, Helvetica, sans-serif ;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
    font-family: Arvo, Helvetica, sans-serif;
}

.msg h2{
    color: #FF9F1C;
    font-family: Caveat, Helvetica, sans-serif;
}

.msg p{
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
color: black;
text-decoration: none;
font-family: Arvo, Helvetica, sans-serif;
}

footer a:hover{
    color: black;
    font-family: Arvo, Helvetica, sans-serif;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

section h2{
    color: #FF9F1C
}

h2{
    margin: 0;
}

#logo_link{
    padding-top: 5px;
}

footer .social img{
    padding-top: 15px;
}

.river-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid black;
}

main section img{
    box-sizing: border-box;
}
