@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arvo, Helvetica, sans-serif;
}

nav a{
    text-align: center;
    color: black ;
    text-decoration: none;
    font-family: Arvo, Helvetica, sans-serif;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

.button-box{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

main section{
    text-align: center;
    font-family: Arvo, Helvetica, sans-serif;
}

#background{
    height: 350px;
    background-color: white;
    grid-template-columns: 6/10;
    grid-template-rows: 6/7;
    width: 200%;
    z-index: -1;
    margin-left: 418px;
}

body{
    background-color: #CBF3F0;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

header{
    background-color: #CBF3F0;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: white;
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
}

.book, .join{
    background-color: #CBF3F0;
    color: black;
    text-decoration: none;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: white;
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
}

.msg{
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-template-columns: 6/10;
    grid-template-rows: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer{
    background-color: white ;
    color: black;
    font-family: Arvo, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color: #FF9F1C;
    font-family: Caveat, Helvetica, sans-serif ;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
    font-family: Arvo, Helvetica, sans-serif;
}

.msg h2{
    color: #FF9F1C;
    font-family: Caveat, Helvetica, sans-serif;
}

.msg p{
    color: #FF9F1C;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
color: black;
text-decoration: none;
font-family: Arvo, Helvetica, sans-serif;
}

footer a:hover{
    color: black;
    font-family: Arvo, Helvetica, sans-serif;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

section h2{
    color: #FF9F1C
}

h2{
    margin: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card{
    margin: 200px 0;
    grid-template-columns: 2/4;
    grid-template-rows: 2/3;
}

.card-img{
    border: 10px solid black;
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img{
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}
     
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mountains{
    width: 125%;
    height: 100%;
    grid-template-columns: 2/7;
    grid-template-rows: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: -200px;
    
}

.camping-card{
    margin: 200px 0;
    grid-template-columns: 5/7;
    grid-template-rows: 2/3;
}

.rapids-card{
    margin: 200px 0;
    grid-template-columns: 8/10;
    grid-template-rows: 2/3;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}