/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Teko:wght@300..700&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #00509D ;
  --secondary-color: #FFD500 ;
  --accent1-color: #00296B;
  --accent2-color: #FDC500;

  /* change the values below to your chosen font(s) */
  --heading-font: Caveat;
  --paragraph-font: Teko, Arvo, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #00509D;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #00509D; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #00509D  ;
  --nav-link-color: #00509D;
  --nav-background-color: #FFD500;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #00296B;
}

.picture{ 
  max-width: 600px;
  max-height: 300px;
}
/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
  max-width: 480px;
  max-height: 100px;
  
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  max-height: 100px;

}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

#hero-msg2{
    display: grid;
    grid-row: 1/2;
    width: 100%;
    justify-content: left;
    padding-right: 50px;
}

#hero-msg3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/3;
    width: auto;
    justify-content: left;
    padding-bottom: 50px;
}

#hero2{
    display: grid;
    align-items: center;
}

#hero3{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: auto;
    grid-column: 1/3;
}

.page2_question{
    padding-bottom: 20px;
}

.page3_question{
    grid-row: 2/3;
    width: 100%;
    padding-bottom: 50px;
}

.page3_end{
    font-size: 24px;
}


#logo_link{
    z-index: 2;
    padding-right: 100px;
}

.start_msg{
    display: grid;
    grid-column: 2/3;
    font-size: 14px;
}

.start_msg p{
    font-size: 18px;
}


.content2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
    background-color: #FFD500;
    margin-top: 100px;
}

.page2_img{
    max-width: 700px;
    max-height: 500px;
    padding-bottom: 50px;
}

.page3_img{
    max-width: 700px;
    max-height: 500px;
    padding-top: 50px;
}

.start_msg2{
    grid-column: 1/3;
}

.start_msg3{
    grid-column: 1/3;
}

.page3_question{
    grid-column: 1/3;
}

.page2_answers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
}

.page3_answers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;

}

.page2_answers p{
    padding-bottom: 100px;
    background-color: #00296B;
    color: white;
}

.page3_answers p{
    padding-bottom: 100px;
    background-color: #00296B;
    color: white;
}

.page2_answer1:hover{
    color: red;
}

.page2_answer2:hover{
    color: green;
}

.page2_answer3:hover{
    color: yellow;
}


.page3_answer1:hover{
    color: red;
}

.page3_answer2:hover{
    color: yellow;
}

.page3_answer3:hover{
    color: green;
}

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: static;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }

  